<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=res://*/NorthWindEDM.csdl|res://*/NorthWindEDM.ssdl|res://*/NorthWindEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IG45RTH\SQLEXPRESS;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>